@model SistemaReservasViajes.Models.Actividad

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Actividad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservaID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservaID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestiniID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestiniID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreActividad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreActividad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaActividad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaActividad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuracionHoras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuracionHoras)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ActividadID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
